body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;

    color: black;
    background-color: rgb(245, 245, 245);
    --secondry-color: rgb(160, 160, 160);
    --third-color: rgb(236, 236, 236);
    --player-color:  rgb(0, 117, 53);
    --computer-color: rgb(139, 12, 118);
    --time: 500ms;
}

body.dark{
    color: rgb(212, 212, 212);
    background-color: rgb(49, 49, 49);
    --secondry-color: rgb(102, 102, 102);
    --third-color: rgb(119, 119, 119);
    --player-color:  rgb(141, 199, 167);
    --computer-color: rgb(209, 124, 194);
}

.header, .main, .footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    font-size: 2rem;
    width: 100%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    margin: 25px 0 10px 0;
    font-weight:600;
    text-align: left;
    width: 100%;
}
#makeChoiceContainer{
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#makeChoiceContainer .buttons{
display: flex; 
justify-content: space-between;
}

.buttons button{
    width: 30%;
    height: 40px;
}

.emoji{
    filter: saturate(0);
    opacity: .8;
}

.scoreAndHistory{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.score{
    width: 300px;
}
.score > div{
    display: flex;
    flex-direction: row;
    font-weight: 600;
}

.score > div > div{
    width: 50%;
    padding: 5px 7px;
    border: 1px solid var(--secondry-color);
}

.score > div div+div {
    border-left-width: 0px;
}

.score div+div > div{
    border-top-width: 0px;
}

#history{
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: block;
}

td, th{
    border: 1px solid var(--secondry-color);
    text-align: left;
    padding: 5px 7px;
}

th:not(:first-child){
    width: 120px;
}
th{
    background-color: var(--third-color);
    position: sticky;
    top: 0;
    font-weight: 600;
}

.user{
    color: var(--player-color);
}

.computer{
    color: var(--computer-color);
}

.playAgain{
    height: 40px;
}
@keyframes fade-in {
    from{
        opacity: 0;
        background-color: rgb(251, 253, 142);
    }
    to{
        opacity: 1;
    }
}

.switchDarkMode{
    width: 90px;
    height: 30px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

body .switchDarkMode::before{
    content: "Dark 🌙";
    filter: saturate(0);
}

body.dark .switchDarkMode::before{
    content: "Light ☀";
    filter: saturate(0);

}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    
}

a, a:visited, a:link{
    color: rgb(192, 93, 0);
}

.userWin{
    animation: userWin var(--time) ease-in forwards;
}

@keyframes userWin {
    from{

    }
    to{
        color: var(--player-color);
        font-weight: 600;
    }
}
.computerWin{
    animation: computerWin var(--time) ease-in forwards;
}

@keyframes computerWin {
    from{

    }
    to{
        color: var(--computer-color);
        font-weight: 600;
    }
}

.userLose{
    animation: userLose var(--time) ease-in forwards;
}

@keyframes userLose {
    from{

    }
    to{
        color: var(--secondry-color);
        text-decoration: line-through;
        text-decoration-color: var(--computer-color);
    }
}

.computerLose{
    animation: computerLose var(--time) ease-in forwards;
}

@keyframes computerLose {
    from{

    }
    to{
        color: var(--secondry-color);
        text-decoration: line-through;
        text-decoration-color: var(--player-color);
    }
}
